
.containerrrr{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 80px;
    box-shadow: 0 0 80px black;
    background-color: black;
}
.mop{
    transform: translateY(-90%);
    color: white;
}